* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: rgba(0, 0, 0, 0.671);
}

.blub-holder {
  height: 35px;
  width: 180px;
  border-radius: 10px;
  background-color: powderblue;
  margin-top: 8px;
  border: 1px solid black;

}

.blub-holder-1 {
  height: 35px;
  width: 140px;
  border-radius: 10px;
  background-color: powderblue;
    border: 1px solid black;
}
.wire{
  height: 170px;
  width: 8px;
  position: absolute;
  left: 50%;
  top: 80px; 
  border: 2px solid black;
  border-radius: 15px;
}
.progress{

  width: 100%;
  height: 0px;
   border-radius: 15px;
  background-color: yellow;
  box-shadow: 0px 0px 5px 3px yellow;
  
}
.blub{
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 48%;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);

}
.blub.on {
  background: yellow;
  box-shadow: 0 0 50px 20px yellow;
}

.btn{
  margin-top: 10px;
  /* padding: 20px; */
  font-size: 25px;
  height: 35px;
  width: 100px;
  border-radius: 10px;
   position: absolute;
  top: 450px;
  left: 46%;
  outline: none;
  background: linear-gradient(45deg, red , black);
  color: white;
}
.animate{
    animation: progress 4s ease-in-out forwards;
}
@keyframes progress {
  0%{ height: 0px;}
  100%{height: 170px}
  
}